<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:09 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/public/assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Yellow"><span
                                                    class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span
                                                    class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span
                                                    class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Purple"><span
                                                    class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i
                                                class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="card-body mt-50">
        <div class="table-responsive">
            <table class="table table-hover">
             <thead>
                 <tr>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Product</th>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Name</th>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Quantity</th>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Status</th>
                     <th style="font-weight: bold; width: 20% " class="text-end text-center">Total</th>
                  
                 </tr>
             </thead>
             <tbody>
                 <% if (locals.orderedItems) { %>
                     <% let totalPrice = 0; %>
                     <% orderedItems.products.forEach(element => { %>
                         <% totalPrice += element.totalPrice; %>
                         <% totalquantity =  element.productId.price * element.quantity  %>
                         <tr>
                             <td class="image product-thumbnail">
                                 <div class="text-center">
                                     <img  src="/public/uploads/<%= element.productId.image[0] %>" alt="#">
                                 </div>
                             </td>
                             <td class="product-des product-name">
                                 <h5 class=" mt-2 text-center "><a href="shop-product-right.html"><%= element.productId.name %></a></h5><br>
                                 <p class="font-xs text-center"><%= element.productId.description.split('.')[0] %></p>
                             </td>
                             <td class="text-center"><%= element.quantity %></td>
                             <% if(orderedItems.orderStatus === 'confirmed'){ %>
                                <td class="text-center"><span class="badge rounded-pill  alert-dark  "><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                                <% if(orderedItems.orderStatus === 'cancelled'){ %>
                                    <td class="text-center"><span class="badge rounded-pill alert-danger "><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                                <% if(orderedItems.orderStatus === 'shipped') {%>
                                    <td class="text-center"><span class="badge rounded-pill alert-info "><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                                <% if(orderedItems.orderStatus === 'outForDelivery') {%>
                                    <td class="text-center"><span class="badge rounded-pill alert-warning"><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                            <% if(orderedItems.orderStatus === 'delivered') {%>
                                <div class="text-center"><span  class="badge rounded-pill alert-success"><%= orderedItems.orderStatus %></span></div>
                                <% } %>
                             <td class="text-center">₹ <%=totalquantity %></td>
                        
                         </tr>
                     <% }); %>
                     <tr>
                         <td colspan="4" class="text-end ">Total Price:</td>
                         <td class="text-center">₹ <%= orderedItems.totalPrice %></td>
                     </tr>
                  
                 <% } %>
             </tbody>
         </table>
         
         </div>
         </div>    
         
    </div> 
</body>
</html>


           


