

<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/public/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
  
        
</head>

<body>

<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                 
                    <form   action="/admin/editprodut/<%=  productData._id %>" method="post"  >
                     <% if(productData) {%>

                    
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product Name</label>
                            <input value="<%= productData.name %>" type="text" name="name" placeholder="Type here" class="form-control"
                                id="product_name" required>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Product description</label>
                            <input value="<%= productData.description%>"  placeholder="Type here" name="description" class="form-control"
                                rows="4" required></input>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="product_price">Price</label>
                            <input value="<%= productData.price %>" type="text" placeholder="price" name="price" class="form-control" id="product_price" required>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="product_quantity" class="form-label">Quantity</label>
                                    <input value="<%= productData.quantity %>" type="text" name="quantity" placeholder="quantity" class="form-control"
                                        id="product_quantity" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="product_discount" class="form-label">Discount</label>
                                    <input value="<%= productData.discount %>" type="number" name="discount" placeholder="%" class="form-control"
                                        id="product_discount" required>
                                </div>
                            </div>

                          
                        </div>
                    <% } %>

                </div>
            </div> <!-- card end// -->
        </div>

        <div class="col-lg-3">
            <div class="card mb-4">
                <!-- <div class="card-header">
                    <h4>Media</h4>
                </div> -->
                <div class="card-body">
                    <div class="input-upload">
                       
                        <% for (let i = 0; i < productData.image.length; i++) { %>
                            <img src="/public/uploads/<%= productData.image[i] %>" alt="img" data-filename="<%= productData.image[i] %>">
                        <% } %>
                        <div id="preview" style="display: flex; flex-wrap: wrap;"></div>
                        <input class="form-control" type="file" name="images" id="imageInput" multiple>
                    </div>
                </div>
                
        <!-- card end// -->

            <!-- <div id="imageList" class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Selected Images</h5>
                    <div id="selectedImages" class="selected-images-container"></div>
                </div>
            </div> -->

            <div class="card mb-4 ">
                <div class="card-header">
                    <h4>Select Category</h4>
                </div>
                <div class="card-body">
                    <div class="row gx-2">
                       
                        <div class="col-sm-6 mb-3">
                            <label class="form-label">Sub-category</label>
                            <select class="form-select" style="width: auto;" name="category">
                              <% for( let i = 0; i < category.length; i++ ) { %>

                              <option value="<%= category[i]._id %>" <% if(category[i]._id.equals(productData.category)) {%> Selected <% } %>>

                                <%= category[i].name %>
                            </option>
                              <% } %>

                            </select>
                        </div>
                        
                       
                    </div> 
            </div> 
            <div>
                <button value="Save" type="submit" class="btn ms-auto d-block btn-md rounded font-sm hover-up">Edit
                    Product</button> <!-- ms-auto d-block to move button to right-->
            </div>
        </div>

        </form>
    </div>
</section> <!-- content-main end// -->

<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> 
        </div>
       
    </div>
</footer>
</main>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/select2.min.js"></script>
<script src="assets/js/vendors/perfect-scrollbar.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="assets/js/custom-chart.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#imageInput').change(function() {
            $('#preview').html('');
            const files = $(this).prop('files');
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview').append(`<img src="${e.target.result}" style="width: 100px; height: auto; margin: 5px;">`);
                }
                reader.readAsDataURL(file);
            }
        });
    });
</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>
