<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->
<head>
    <meta charset="utf-8">
    <title>ToneHive</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/Tonehive (1).png">
    <!-- Template CSS -->
    <link href="/public/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap ">
                <img  src="/public/assets/imgs/theme/Tonehive (1).png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/customers"> <i class="icon material-icons md-home"></i>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-home"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productCatrgory"> <i class="icon material-icons md-home"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item  active">
                    <a class="menu-link" href="/admin/orderDetails"> <i class="icon material-icons md-store"></i>
                        <span class="text">Orders</span>
                    </a>
                 
                </li>
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li> -->
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/productOffer"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offer List</span>
                    </a>
                    
                </li>
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> -->
              <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/salesReport"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
            <!-- </ul>  -->
            <!-- <hr>
            <ul class="menu-aside"> -->
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li> -->
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <%- include('../layouts/admin/header.ejs') %>
   
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th class="text-center" scope="col">NAME</th>
                                    <th class="text-center" scope="col">EMAIL</th>
                                    <th class="text-center" scope="col">PAYMENT METHOD</th>
                                    <th class="text-center" scope="col">TOTAL</th>
                                    <th class="text-center" scope="col">DATE</th>
                                    <th class="text-center" scope="col">STATUS</th>
                                    <th class="text-center" scope="col">CHANGE STATUS</th>
                                    <th class="text-center" scope="col">VIEW DETAILS</th>
                                    <!-- <th scope="col" class="text-end"> Action </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orderDetails && orderDetails.length > 0) { %>
                              
                                    <% for (let i = 0; i < orderDetails.length; i++) { %>
                                <tr>
                                    <td><%= orderDetails[i].orderId %></td>
                                    <!-- Accessing user details from userId field -->
                                    <td class="text-center"><b><%= orderDetails[i].userId.name %></b></td>
                                    <td class="text-center"><%= orderDetails[i].userId.email %></td>
                                    <td class="text-center"><%= orderDetails[i].paymentMethod %></td>
                                    <% if (orderDetails.coupon === null) { %>
                                       
                                        <td class="text-center">₹ <%= orderDetails[i].totalPrice   %></td>
                                    <% } else { %>
                                        
                                        <td class="text-center">₹ <%= orderDetails[i].couponPrice %></td>
                                    <% } %>
                                  
                                    <td class="text-center"><%= orderDetails[i].createdAt.toLocaleDateString() %></td>
                                    <td width="7%">
                                        <% if (orderDetails[i].orderStatus == 'pending') { %>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-warning"><%= orderDetails[i].orderStatus %></span>
                                        <% } else if (orderDetails[i].orderStatus == 'processing') {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-secondary"><%= orderDetails[i].orderStatus %></span>
                                        <% } else if (orderDetails[i].orderStatus == 'confirmed') {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-success"><%= orderDetails[i].orderStatus %></span>
                                        <% } else if (orderDetails[i].orderStatus == 'shipped') {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-info"><%= orderDetails[i].orderStatus %></span>
                                        <% } else if (orderDetails[i].orderStatus == 'outForDelivery') {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-warning"><%= orderDetails[i].orderStatus %></span>
                                        <% } else if (orderDetails[i].orderStatus == 'delivered') {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-success"><%= orderDetails[i].orderStatus %></span>
                                        <% } else if (orderDetails[i].orderStatus == 'cancelPending') {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-warning"><%= orderDetails[i].orderStatus %></span>
                                        <% } else {%>
                                            <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-danger"><%= orderDetails[i].orderStatus %></span>
                                        <% } %>
                                    </td>
                                    
                                    <td width="10%" style="vertical-align: middle;">
                                        <% if (orderDetails[i].orderStatus == 'pending') { %>
                                            <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i].products[0].productId %>','<%= orderDetails[i]._id %>','processing','confirmed')" class="btn btn-outline-primary rounded font-sm">processing</a>
                                        <% } else if (orderDetails[i].orderStatus == 'processing') { %>
                                            <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i].products[0].productId %>','<%= orderDetails[i]._id %>','confirmed','shipped')" class="btn btn-outline-primary rounded font-sm">confirmed</a>
                                        <% } else if (orderDetails[i].orderStatus == 'confirmed') { %>
                                            <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i].products[0].productId %>','<%= orderDetails[i]._id %>','shipped','outForDelivery')" class="btn btn-outline-primary rounded font-sm">shipped</a>
                                        <% } else if (orderDetails[i].orderStatus == 'shipped') { %>
                                            <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i].products[0].productId %>','<%= orderDetails[i]._id %>','outForDelivery','delivered')" class="btn  btn-outline-primary rounded font-sm">out for delivery</a>
                                        <% } else if (orderDetails[i].orderStatus == 'outForDelivery') { %>
                                            <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i].products[0].productId %>','<%= orderDetails[i]._id %>','delivered','d-none')" class="btn btn-outline-primary rounded font-sm">delivered</a>
                                        <% } else if (orderDetails[i].orderStatus == 'return pending') { %>
                                            <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i].products[0].productId %>','<%= orderDetails[i]._id %>','returned','d-none')" class="btn btn-outline-primary rounded font-sm">Approve Return</a>
                                        <% } %>
                                    </td>
                                    
                                    
                                   
                                   <td class="text-center">
                                    <a href="/admin/viewProductsDetails/<%= orderDetails[i]._id %>"><button class="btn btn-primary">View Details</button></a>
                                   </td>
                                    
                                   <!--  <td class="text-end"> -->
                                      
                                        <!-- <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i
                                                    class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> -->
                                        <!-- dropdown //end -->
                                    <!-- </td> -->
                                </tr>
                                <% } %>
                                <% } %>
                            </tbody>
                            
                            
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for( let i = 1; i <= numOfPages; i++ ) { %>
                        
                       
                        <li class="page-item <% if (i === currentPage) { %> active<% } %>">
                            <a class="page-link" href="/admin/orderDetails?page=<%= i %>"><%= i %></a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>

<script>
    function changeOrderStatus(productId,orderId, status, nextButtonValue) {
        console.log(productId);
        console.log(orderId);
        console.log(status);
        console.log(nextButtonValue);
        Swal.fire({
            title: 'Do you want to change the order Status?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        }).then((result) => {   
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/orderStatus',
                    type: 'post',
                    data: {
                        productId:productId,
                        orderId: orderId,
                        status: status
                    }
                }).done((res) => {
                    if (res && !res.error) {
                        window.location.reload();
                    } else {
                        console.log('Error or invalid response:', res);
                    }
                }).fail((err) => {
                    console.log('AJAX request failed:', err);
                })
            }
        });
    }
</script>
