<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->
<head>
    <meta charset="utf-8">
    <title>ToneHive</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/Tonehive (1).png">
    <!-- Template CSS -->
    <link href="/public/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <% if (message) { %>
        <script>
          
            const urlParams =  new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            if (message) {
                const newUrl = window.location.pathname;
                window.history.replaceState({}, document.title, newUrl); 
    
                Toastify({
                    text: message,
                    duration: 5000, 
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#5cb85c",
                    stopOnFocus: true 
                }).showToast();
            }
        </script>
    <% } %>
    
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap ">
                <img  src="/public/assets/imgs/theme/Tonehive (1).png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/customers"> <i class="icon material-icons md-person"></i>
                        <span class="text">Customers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productCatrgory"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">category</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderDetails"> <i class="icon material-icons md-store"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li> -->
                <li class="menu-item active">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>
                   
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productOffer"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offer List</span>
                    </a>
                    
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> -->
            <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/salesReport"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
            <!-- </ul> 
            <hr> -->
            <!-- <ul class="menu-aside"> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li> -->
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <%- include('../layouts/admin/header.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon Management</h2>
                    
                </div>
                <div>
                    
                    <a href="/admin/addCoupon" class="btn btn-primary btn-sm rounded">Add New Coupon </a>
                </div>
            </div>
                
                <table class="table table-hover" id="couponTable">
                    <thead>
                        <tr class="text-left">
                            <th>No</th>
                            <th>Coupon Name</th>
                            <th>Coupon Code</th>
                            <th>Discount</th>
                            <th>Expiry Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (couponData.length > 0) { %>
                            <% for (let i = 0; i < couponData.length; i++) { %>
                                <tr class="text-left">
                                    <td width="15%">
                                        <%= i + 1 %>
                                    </td>
                                    <td width="20%">
                                        <%= couponData[i].name %>
                                    </td>
                                    <td width="20%">
                                        <%= couponData[i].code %>
                                    </td>
                                    <td width="10%">
                                        <%= couponData[i].discount %>
                                    </td>
                                    <td width="15%">
                                        <%= couponData[i].expiryDate.toLocaleDateString() %>
                                    </td>
                                    <td width="10%">
                                        <a href="/admin/editCoupon/<%= couponData[i]._id %>" class="btn btn-sm btn-success rounded font-sm mt-15">Edit</a>
                                    </td>
                                    <td width="10%">
                                        <a onclick="deleteCoupon('<%= couponData[i]._id %>')" class="btn btn-sm btn-danger rounded font-sm mt-15">Delete</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="7" class="text-center"><h1>No Coupons Added</h1></td>
                            </tr>
                        <% } %>
                    </tbody>
                    
                    
                </table>
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for( let i = 1; i <= numOfPages; i++ ) { %>
                            
                           
                            <li class="page-item <% if (i === currentPage) { %> active<% } %>">
                                <a class="page-link" href="/admin/coupons?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
                
            </section> <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                        document.write(new Date().getFullYear())
                        </script> ©, Evara - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            All rights reserved
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
        <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
        <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
           <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>

<script>
    function deleteCoupon(couponId){
        Swal.fire({
            title: "Are you sure?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: `Yes`,
            cancelButtonText: 'Cancel',
            allowOutsideClick: true,
        }).then((result) => {
            if(result.isConfirmed){
                fetch(`/admin/deleteCoupon/${couponId}`, { method: "delete" })
                .then(response => {
                    if (response.ok) {
                        // Coupon deleted successfully
                        Swal.fire({
                            title: "Success",
                            text: "Coupon deleted successfully!",
                            icon: "success",
                            timer: 5000, // 5 seconds
                            timerProgressBar: true,
                            allowOutsideClick: false,
                            onClose: () => {
                                window.location.reload();
                            }
                        });
                    } else {
                        // Error deleting coupon
                        Swal.fire({
                            title: "Error",
                            text: "Error deleting coupon.",
                            icon: "error",
                            timer: 5000, // 5 seconds
                            timerProgressBar: true,
                            allowOutsideClick: false,
                        });
                    }
                })
                .catch(error => {
                    // Fetch request failed
                    console.error('Error:', error);
                    Swal.fire({
                        title: "Error",
                        text: "An error occurred while deleting the coupon.",
                        icon: "error",
                        timer: 5000, // 5 seconds
                        timerProgressBar: true,
                        allowOutsideClick: false,
                    });
                });
            }
        });
    }
</script>
