<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToneHive</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
</head>


    <body class="vh-100">
<!--header-->
        <nav  class="navbar navbar-expand-lg navbar-dark" style="background-color: brown">
            <div class="container">
              <a class="navbar-brand" href="/">ToneHive</a>
           
          </nav>
        <div>


          <section class="vh-100 gradient-custom">
            <div class="container py-1 h-100">
              <div class="row d-flex justify-content-center align-items-center w-100 h-100">
                <div class="col-md-12">
                  <div class="mb-md-5 mt-md-4 px-5 py-5">
       
                <table class="table btn-danger table-striped table-hover w-75" style="margin-left: 300px; margin-top: 30px;">
                    <tr class="w-100">
                    
                      <td>Name</td>
                      <td>Email</td>
                      <td>Mobile</td>
                      <td>Edit User</td>
                      <td>Delete User</td>
                      <td>Status</td>

                  </tr>
                  <%if(typeof user !== 'undefined'){%>
                      <% user.forEach((person)=>{%>
                  <tr>
                    <td><%= person.name%></td>
                    <td><%= person.email%></td>
                    <td><%= person.mobile%></td>
                    
                    <td>    
                      <a href="/adminhome/edituser?userid=<%=person._id%>">
                        <button type="button" class="btn btn-info px-3">
                          Edit
                        </button></a>
                    </td>
                    <td>
                      <a href="/adminhome/deleteuser?userid=<%=person._id%>">
                        <button type="button" class="btn btn-danger px-3">
                          Delete
                        </button></a>
                    </td>
                    <td>
                        <% if (person.isBlocked) { %>
                            <!-- Display unblock button -->
                            <a href="/adminhome/unblockuser?userid=<%= person._id %>">
                                <button type="button" class="btn btn-success px-3">Unblock</button>
                            </a>
                        <% } else { %>
                            <!-- Display block button -->
                            <a href="/adminhome/blockuser?userid=<%= person._id %>">
                                <button type="button" class="btn btn-warning px-3">Block</button>
                            </a>
                        <% } %>
                    </td>
                <%})}%>
              </table>

           


              <div class="container mt-5">
                <table>
                    <tr>
                       <td>
                        <a href="/adminhome/customers"><button type="button" class="btn btn-info px-3">Customers</button></a>
                       </td>
                    </tr>
                    <tr>
                    <td>
                        <a href="#"><button type="button" class="btn btn-info px-3">Product</button></a>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/adminhome"><button type="button" class="btn btn-outline-primary">Back</button></a>
                        </td>
                        </tr>
                </table>
       
            </div>
               </div>     
              </div>
              </div>
              </section>  
                   
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

            </body>
            </html>