<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:09 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
</head>

<body>
    <!-- Quick view -->

  
    <div class="card-body mt-50">
        <div class="table-responsive">
            <table class="table table-hover">
             <thead>
                 <tr>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Product</th>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Name</th>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Quantity</th>
                     <th style="font-weight: bold; width: 20%;" class="text-center">Status</th>
                     <th style="font-weight: bold; width: 20% " class="text-end text-center">Total</th>
                  
                 </tr>
             </thead>
             <tbody>
                 <% if (locals.orderedItems) { %>
                     <% let totalPrice = 0; %>
                     <% orderedItems.products.forEach(element => { %>
                         <% totalPrice += element.totalPrice; %>
                         <% totalquantity =  element.productId.price * element.quantity  %>
                         <tr>
                             <td class="image product-thumbnail">
                                 <div class="text-center">
                                     <img  src="/public/uploads/<%= element.productId.image[0] %>" alt="#">
                                 </div>
                             </td>
                             <td class="product-des product-name">
                                 <h5 class=" mt-2 text-center "><a href="shop-product-right.html"><%= element.productId.name %></a></h5><br>
                                 <p class="font-xs text-center"><%= element.productId.description.split('.')[0] %></p>
                             </td>
                             <td class="text-center"><%= element.quantity %></td>
                             <% if(orderedItems.orderStatus === 'confirmed'){ %>
                                <td class="text-center"><span class="badge rounded-pill  alert-dark  "><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                                <% if(orderedItems.orderStatus === 'cancelled'){ %>
                                    <td class="text-center"><span class="badge rounded-pill alert-danger "><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                                <% if(orderedItems.orderStatus === 'shipped') {%>
                                    <td class="text-center"><span class="badge rounded-pill alert-info "><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                                <% if(orderedItems.orderStatus === 'outForDelivery') {%>
                                    <td class="text-center"><span class="badge rounded-pill alert-warning"><%= orderedItems.orderStatus %></span></td>
                                <% } %>
                            <% if(orderedItems.orderStatus === 'delivered') {%>
                                <div class="text-center"><span  class="badge rounded-pill alert-success"><%= orderedItems.orderStatus %></span></div>
                                <% } %>
                             <td class="text-center">₹ <%=totalquantity %></td>
                        
                         </tr>
                     <% }); %>
                     <tr>
                         <td colspan="4" class="text-end ">Total Price:</td>
                         <td class="text-center">₹ <%= orderedItems.totalPrice %></td>
                     </tr>
                  
                 <% } %>
             </tbody>
         </table>
         
         </div>
         </div>    
         
    </div> 
</body>
</html>


           


