<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:09 GMT -->

<head>
    <meta charset="utf-8">
    <title>Tone Hive</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"  href="/public/assets/imgs/theme/Tonehive (1).png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Yellow"><span
                                                    class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span
                                                    class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span
                                                    class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Purple"><span
                                                    class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i
                                                class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a>
                                    </li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a
                                            href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="assets/imgs/theme/flag-fr.png" alt="">Français</a>
                                        </li>
                                        <li><a href="#"><img src="assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <!-- <a href="/userHome"><img src="assets/imgs/theme/logo-tonehive" alt="logo"></a> -->
                        <a href="/userHome"><img src="/public/assets/imgs/theme/Tonehive (1).png" alt=></a>


                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>

                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <!-- <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div> -->
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/public/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue"><%= cartTotalCount %></span>
                                    </a>
                                </div>

                                <style>
                                    /* Custom CSS to adjust image size */
                                    .dropdown-toggle img {
                                        width: 40px;
                                        /* Adjust the width to your desired size */
                                        height: 40px;
                                        /* Adjust the height to your desired size */
                                        border-radius: 50%;
                                        /* Optional: Make the image round */
                                    }
                                </style>

                                <div>
                                    <ul>
                                        <li class="dropdown nav-item">
                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                                id="dropdownAccount" aria-expanded="false">
                                               <button class="btn  btn-primary ">hey.. <%= userInfo.name %></button>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownAccount">
                                                <a class="dropdown-item" href="/userProfile"><i
                                                        class="material-icons md-perm_identity"></i> Profile</a>
                                                <!-- <a class="dropdown-item" href="#address"><i class="material-icons md-settings"></i>Account Settings</a> -->
                                                <!-- <a class="dropdown-item" href="/wallet"><i class="material-icons md-account_balance_wallet"></i>Wallet</a> -->
                                                <!-- <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                              <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a> -->
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="/logout"><i
                                                        class="material-icons md-exit_to_app"></i>Logout</a>
                                            </div>
                                        </li>
                                    </ul>  
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="#"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>

                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">Home </a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Shop </a>
                                    </li>

                                    <li>
                                        <a href="#">Blog </a>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
                    </p>

                </div>
            </div>
        </div>
    </header>



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>

        <% if (locals.message) { %>
            <script>
                setTimeout(function () {
                    var successMessage = document.getElementById('successMessage');
                    if (successMessage) {
                        successMessage.style.display = 'none';
                    }
                }, 3000); 
            </script>

            <div id="successMessage" class="alert alert-success" role="alert">
                <%= locals.message %>
            </div>
            <% } %>







                <section class="pt-150 pb-150">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 m-auto">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="dashboard-menu">
                                            <ul class="nav flex-column" role="tablist">
                                                <!-- <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li> -->
                                                <li class="nav-item">
                                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                                        href="#orders" role="tab" aria-controls="orders"
                                                        aria-selected="false"><i
                                                            class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                                </li>
                                                <!-- <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li> -->
                                                <li class="nav-item">
                                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                        href="#address" role="tab" aria-controls="address"
                                                        aria-selected="true"><i class="fi-rs-marker mr-10"></i>My
                                                        Address</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="address-new" data-bs-toggle="tab"
                                                        href="#newaddress" role="tab" aria-controls="newaddress"
                                                        aria-selected="true"><i class="fi-rs-marker mr-10"></i>Create
                                                        New Address</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                        href="#account-detail" role="tab" aria-controls="account-detail"
                                                        aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                                                        details</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="Wallet-tab" data-bs-toggle="tab" href="#Wallet" role="tab" aria-controls="Wallet" aria-selected="true">
                                                        <i class="fi-rs-money mr-10"></i>Wallet
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/logout"><i
                                                            class="fi-rs-sign-out mr-10"></i>Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="tab-content dashboard-content">

                                            <div class="tab-pane fade active show" id="orders" role="tabpanel"
                                                aria-labelledby="orders-tab">
                                                <div class="card ">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Your Orders</h5>
                                                    </div>

                                                    <div class="card-body ">
                                                        <div class="table-responsive">
                                                            <table class="table">

                                                                <thead>
                                                                    <tr>
                                                                        <th>order Id</th>
                                                                        <th>Date</th>
                                                                        <th>Address</th>
                                                                        <th>Total</th>
                                                                        <th>Status</th>
                                                                        <th>Payment Method</th>
                                                                       
                                                                        <th>View Details</th>
                                                                        <!-- <th>View Details</th> -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% if (userOrders && userOrders.length > 0) { %>
                                                                        <% for (let i = 0; i < userOrders.length; i++) { %>

                                                                            <tr>
                                                                                <td><%= userOrders[i].orderId %></td>

                                                                                <td><%= userOrders[i].createdAt.toLocaleDateString() %></td>
                                                                                <td><%= userOrders[i].address.house %></td>
                                                                                <% if(userOrders[i].coupon === null) {%>
                                                                                <td><%= userOrders[i].totalPrice %></td>
                                                                                <% }else{%>
                                                                                    <td><%= userOrders[i].couponPrice %></td>
                                                                                    <% } %>
                                                                                    <td class="text-center">
                                                                                        <span class="badge rounded-pill  alert-success">
                                                                                            <%= userOrders[i].orderStatus %>
                                                                                        </span>
                                                                                    </td>
                                                                                <td class="text-center"><%= userOrders[i].paymentMethod %></td>
                                                                               
                                                                                <td>
                                                                                    <a href="/vewProductDetails/<%= userOrders[i]._id %>"> <button  class="btn btn-primary btn-sm">View Details</button></a>
                                                                                   
                                                                                </td>
                                                                            </tr>
                                                                        <% } %>
                                                                    <% } else { %>
                                                                        <tr>
                                                                            <td colspan="7" class="text-center fw-bold fs-4">No orders found</td>
                                                                        </tr>
                                                                    <% } %>
                                                                </tbody>
                                                                


                                                            </table>
                                                            <div class="pagination-area mt-15 mb-50">
                                                                <nav aria-label="Page navigation example">
                                                                    <ul class="pagination justify-content-start">
                                                                        <% for( let i = 1; i <= numOfPages; i++ ) { %>
                                                                        
                                                                       
                                                                        <li class="page-item <% if (i === currentPage) { %> active<% } %>">
                                                                            <a class="page-link" href="/userProfile?page=<%= i %>"><%= i %></a>
                                                                        </li>
                                                                        <% } %>
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                            <!-- <div  id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello Rosie! </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                        </div>
                                    </div> -->

                                            <div class="tab-pane fade mb-25" id="address" role="tabpanel"
                                                aria-labelledby="address-tab">
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="list-group">
                                                            <% if (userAddress.length > 0) { %>
                                                                <% for (let i = 0; i < userAddress.length; i++) { %>
                                                                    <li class="list-group-item">
                                                                        <div>
                                                                            <span><strong>Name:</strong>
                                                                                <%= userAddress[i].address.name %>
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <span><strong>Mobile:</strong>
                                                                                <%= userAddress[i].address.mobile %>
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <span><strong>House:</strong>
                                                                                <%= userAddress[i].address.house %>
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <span><strong>City:</strong>
                                                                                <%= userAddress[i].address.city %>
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <span><strong>Pincode:</strong>
                                                                                <%= userAddress[i].address.pincode %>
                                                                            </span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-start mt-2">
                                                                            <a href="/userProfileAddress/<%= userAddress[i].address._id %>"
                                                                                class="btn btn-secondary btn-sm ml-15">Edit
                                                                                Address</a>
                                                                            <a onclick="deleteAddress('<%= userAddress[i].address._id %>')"
                                                                                class="btn btn-text-danger btn-sm ml-15">Delete</a>
                                                                        </div>
                                                                    </li>
                                                                <% } %>
                                                            <% } else { %>
                                                                <li class="list-group-item">
                                                                    <p class="text-center fw-bold fs-4">No addresses found.</p>
                                                                 
                                                                </li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="newaddress" role="tabpanel"
                                                aria-labelledby="address-new">
                                                <div class="row">
                                                    <form id="myform" action="/userProfileAddress" method="post">
                                                        <div class="ship_detail">
                                                            <div class="form-group">
                                                                <div class="chek-form">
                                                                    <div class="custome-checkbox">
                                                                        <h6 class="mb-10">Create New Address</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <input id="name" type="text" required="" name="name"
                                                                    placeholder="Name *">
                                                            </div>
                                                            <p><span id="error1" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>

                                                            <div class="form-group">
                                                                <input id="house" type="text" name="house" required=""
                                                                    placeholder="House *">
                                                            </div>
                                                            <p><span id="error2" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>

                                                            <div class="form-group">
                                                                <input id="city" required="" type="text" name="city"
                                                                    placeholder="City / Town *">
                                                            </div>
                                                            <p><span id="error3" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>
                                                            <div class="form-group">
                                                                <input id="state" required="" type="text" name="state"
                                                                    placeholder="State *">
                                                            </div>
                                                            <p><span id="error4" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>

                                                            <div class="form-group">
                                                                <input id="country" required="" type="text"
                                                                    name="country" placeholder="Country *">
                                                            </div>
                                                            <p><span id="error5" style="display: block;"
                                                                    class="mt-15 err text-danger"></span></p>
                                                            <div class="form-group">
                                                                <input id="pincode" required="" type="text"
                                                                    name="pincode" placeholder="Pincode *">
                                                            </div>
                                                            <p><span id="error6" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>

                                                            <div class="form-group">
                                                                <input id="mobile" required="" type="text" name="mobile"
                                                                    placeholder="Phone *">
                                                            </div>
                                                            <p><span id="error7" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>

                                                            <div>
                                                                <input type="hidden" name="userId"
                                                                    value="<%= userId %>" />
                                                            </div>
                                                            <div>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                            <script src="/public/formValidation/user/addressScript.js"></script>

                                            <!-- <div class="col-lg-6">
                        
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Billing Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>3522 Interstate<br> 75 Business Spur,<br> Sault Ste. <br>Marie, MI 49783</address>
                                                        <p>New York</p>
                                                        <a href="#" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <!-- <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>4299 Express Lane<br>
                                                            Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                        <p>Sarasota</p>
                                                        <a href="#" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <!-- </div>
                                    </div> -->
                                            <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                                aria-labelledby="account-detail-tab">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Account Details</h5>
                                                    </div>
                                                    <div class="card-body">
                                                      
                                                        <form id="userInfo" action="/accountDetails" method="post" name="enq">
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label>Name <span class="required">*</span></label>
                                                                    <input  id="uname" value="<%= userId ? userId.name : '' %>"
                                                                        required class="form-control square" name="name"
                                                                        type="text">
                                                                </div>
                                                                <p><span id="uerror1" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>
                                                                <div class="form-group col-md-12">
                                                                    <label>Email Address <span
                                                                            class="required">*</span></label>
                                                                    <input  id="uemail" value="<%= userId ? userId.email : '' %>"
                                                                
                                                                    required class="form-control square"
                                                                        name="email" type="email">
                                                                </div>
                                                                <p><span id="uerror2" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>
                                                                <div class="form-group col-md-12">
                                                                    <label>Mobile <span
                                                                            class="required">*</span></label>
                                                                    <input id="umobile" value="<%= userId ? userId.mobile : '' %>"
                                                                        required class="form-control square"
                                                                        name="mobile" type="tel">
                                                                </div>
                                                                <p><span id="uerror3" style="display: none;"
                                                                    class="mt-15 err text-danger"></span></p>
                                                            </div>

                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label>Current Password <span
                                                                            class="required">*</span></label>
                                                                    <input id="password" required
                                                                        class="form-control square" name="password"
                                                                        type="password">
                                                                </div>
                                                                <p><span id="uerror4" style="display: none;"
                                                                        class="mt-15 err text-danger"></span></p>
                                                                <div class="form-group col-md-12">
                                                                    <label>New Password <span
                                                                            class="required">*</span></label>
                                                                    <input id="npassword" required
                                                                        class="form-control square" name="npassword"
                                                                        type="password">
                                                                </div>
                                                                <p><span id="uerror5" style="display: none;"
                                                                        class="mt-15 err text-danger"></span></p>
                                                                <div class="form-group col-md-12">
                                                                    <label>Confirm Password <span
                                                                            class="required">*</span></label>
                                                                    <input id="cpassword" required
                                                                        class="form-control square" name="cpassword"
                                                                        type="password">
                                                                </div>
                                                                <p><span id="uerror6" style="display: none;"
                                                                        class="mt-15 err text-danger"></span></p>
                                                                <div class="col-md-12">
                                                                    <button type="submit"
                                                                        class="btn btn-fill-out submit" name="submit"
                                                                        value="Submit">Save</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="Wallet" role="tabpanel" aria-labelledby="Wallet-tab">
                                                <table class="table table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Payment Method</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% wallet.walletData.forEach(element => { %>
                                                            <tr>
                                                                <td><%= new Date(element.date).toLocaleDateString() %></td>
                                                                <td><%= element.paymentMethod %></td>
                                                                <td><%= element.amount %></td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                                
                                                <div style="border: 2px solid #007bff; border-radius: 10px; padding: 20px; font-size: 24px; text-align: center;" class="d-flex justify-content-center">
                                                    <div>
                                                        Wallet Balance: <%= wallet.balance %>
                                                    </div>
                                                </div><br><br>
                                                <!-- <div class="d-flex justify-content-center">
                                                    <input class="text-center" type="text" placeholder="Enter Amount">
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <button class="btn btn-primary mt-40">Add Amount</button>
                                                </div> -->
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="#"><img src="/public/assets/imgs/theme/Tonehive (1).png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="/public/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/public/assets/imgs/theme/google-play.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/assets/imgs/theme/payment-method.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                            class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/js/plugins/slick.js"></script>
    <script src="/public/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/assets/js/plugins/wow.js"></script>
    <script src="/public/assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/assets/js/plugins/select2.min.js"></script>
    <script src="/public/assets/js/plugins/waypoints.js"></script>
    <script src="/public/assets/js/plugins/counterup.js"></script>
    <script src="/public/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/assets/js/plugins/images-loaded.js"></script>
    <script src="/public/assets/js/plugins/isotope.js"></script>
    <script src="/public/assets/js/plugins/scrollup.js"></script>
    <script src="/public/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/public/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/public/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/public/assets/js/maind134.js?v=3.4"></script>
    <script src="/public/assets/js/shopd134.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

</html>


<!-- 
<script>
    function cancelOrder(orderId) {
        console.log(orderId);
        Swal.fire({
            title: "Are you sure?",

            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: `Yes`,
            cancelButtonText: 'Cancel',
            allowOutsideClick: true,
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/cancelOrder/${orderId}`, { method: "PATCH" })
                    .then(res => {
                        if (res.ok) {
                            console.log('res');
                            Swal.fire({
                                title: `Done`,
                                text: "You clicked the button !",
                                icon: "success",
                                button: false
                            });
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000)

                        } else {
                            swal({
                                title: "somthing went wrong!",
                                text: "You clicked the button!",
                                icon: "error",
                            });
                        }
                    })


            } else {
                swal({
                    title: "canceled !",
                    text: "You clicked the button!",
                    icon: "cancel",
                });
            }
        });
    }
</script> -->


<script>
    function deleteAddress(addressId) {
        console.log(addressId);
        Swal.fire({
            title: "Are you sure?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: `Yes`,
            cancelButtonText: 'Cancel',
            allowOutsideClick: true,
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/deleteAddress/${addressId}`, { method: "DELETE" })
                    .then(res => {
                        if (res.ok) {
                            Swal.fire({
                                title: `Done`,
                                text: "You clicked the button!",
                                icon: "success",
                                button: false
                            });
                            // Delay page reload after displaying the success message
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000); // Adjust the timeout as needed

                        } else {
                            Swal.fire({
                                title: "Something went wrong!",
                                text: "You clicked the button!",
                                icon: "error",
                            });
                        }
                    });

            } else {
                Swal.fire({
                    title: "Canceled!",
                    text: "You clicked the button!",
                    icon: "info",
                });
            }
        });
    }
</script>


<script>

    function deleteAddress(addressId) {
        Swal.fire('Do you want to delete address', {
            buttons: ["No", "yes"],
        }).then((res) => {
            if (res.isConfirmed) {
                $.ajax({
                    url: '/deleteAddress/' + addressId,
                    method: 'DELETE',
                    success:(res) => {
                    console.log(res.message);
                    Swal.fire('Successful', `${res.message}`, 'success').then(() => {
                        
                        setTimeout(() => {
                            window.location.reload()
                        }, 1000);

                    });
                },
                error:(error) => {
                    console.log(error);
                }
                });
            }
        });
    }
</script>



<script>
    const uNameId = document.getElementById('uname');
    const uEmailId = document.getElementById('uemail');
    const umobileId = document.getElementById('umobile');
    const passwordId = document.getElementById('password');
    const npasswordId = document.getElementById('npassword');
    const cpasswordId = document.getElementById('cpassword');

    const uError1 = document.getElementById('uerror1');
    const uError2 = document.getElementById('uerror2');
    const uError3 = document.getElementById('uerror3');
    const uError4 = document.getElementById('uerror4');
    const uError5 = document.getElementById('uerror5');
    const uError6 = document.getElementById('uerror6');

    const uForm = document.getElementById('userInfo');

    function unameValidation() {
        let nameVal = uNameId.value.trim();
        if (nameVal === '') {
            uError1.style.display = 'block';
            uError1.innerHTML = 'Please enter a valid name';
            setTimeout(() => {
                uError1.style.display = 'none';
                uError1.innerHTML = '';
            }, 3000);
            return false;
        } else if (/\d/.test(nameVal)) {
            uError1.style.display = 'block';
            uError1.innerHTML = 'Please enter a name without numbers';
            setTimeout(() => {
                uError1.style.display = 'none';
                uError1.innerHTML = '';
            }, 3000);
            return false;
        } else {
            uError1.style.display = 'none';
            uError1.innerHTML = '';
        }
        return true;   
    }

    function uemailValidation() {
        const emailVal = uEmailId.value;
        const emailPattern = /^([a-zA-Z0-9._-]+)@([a-zA-Z.-]+).([a-zA-Z]{2,4})$/;
        if (!emailPattern.test(emailVal)) {
            uError2.style.display = 'block';
            uError2.innerHTML = 'Please enter a valid email address';
            setTimeout(() => {
                uError2.style.display = 'none';
                uError2.innerHTML = '';
            }, 3000);
            return false;
        } else {
            uError2.style.display = 'none';
            uError2.innerHTML = '';
        }
        return true;
    }

    function umobileValidate() {
        const mobileVal = umobileId.value.trim();
        if (mobileVal === '') {
            uError3.style.display = 'block';
            uError3.innerHTML = 'Enter a valid mobile number';
            setTimeout(() => {
                uError3.style.display = 'none';
                uError3.innerHTML = '';
            }, 3000);
            return false;
        } else if (mobileVal.length !== 10) {
            uError3.style.display = 'block';
            uError3.innerHTML = 'Please enter exactly 10 digits';
            setTimeout(() => {
                uError3.style.display = 'none';
                uError3.innerHTML = '';
            }, 3000);
            return false;
        } else {
            uError3.style.display = 'none';
            uError3.innerHTML = '';
        }
        return true;
    }

    function passwordValidate() {
        const passwordVal = passwordId.value;
        const alpha = /[a-zA-Z]/;
        const digit = /\d/;
        if (passwordVal.length < 8) {
            uError4.style.display = 'block';
            uError4.innerHTML = 'Must enter at least 8 characters';
            setTimeout(() => {
                uError4.style.display = 'none';
                uError4.innerHTML = '';
            }, 3000);
            return false;
        } else if (!alpha.test(passwordVal) || !digit.test(passwordVal)) {
            uError4.style.display = 'block';
            uError4.innerHTML = 'Password must contain both letters and numbers';
            setTimeout(() => {
                uError4.style.display = 'none';
                uError4.innerHTML = '';
            }, 3000);
            return false;
        } else {
            uError4.style.display = 'none';
            uError4.innerHTML = '';
        }
        return true;
    }

    function npasswordValidate() {
        const passwordVal = npasswordId.value;
        const alpha = /[a-zA-Z]/;
        const digit = /\d/;
        if (passwordVal.length < 8) {
            uError5.style.display = 'block';
            uError5.innerHTML = 'Must enter at least 8 characters';
            setTimeout(() => {
                uError5.style.display = 'none';
                uError5.innerHTML = '';
            }, 3000);
            return false;
        } else if (!alpha.test(passwordVal) || !digit.test(passwordVal)) {
            uError5.style.display = 'block';
            uError5.innerHTML = 'Password must contain both letters and numbers';
            setTimeout(() => {
                uError5.style.display = 'none';
                uError5.innerHTML = '';
            }, 3000);
            return false;
        } else {
            uError5.style.display = 'none';
            uError5.innerHTML = '';
        }
        return true;
    }

    function cpasswordValidate() {
        const passwordVal = cpasswordId.value;
        const alpha = /[a-zA-Z]/;
        const digit = /\d/;
        if (passwordVal.length < 8) {
            uError6.style.display = 'block';
            uError6.innerHTML = 'Must enter at least 8 characters';
            setTimeout(() => {
                uError6.style.display = 'none';
                uError6.innerHTML = '';
            }, 3000);
            return false;
        } else if (!alpha.test(passwordVal) || !digit.test(passwordVal)) {
            uError6.style.display = 'block';
            uError6.innerHTML = 'Password must contain both letters and numbers';
            setTimeout(() => {
                uError6.style.display = 'none';
                uError6.innerHTML = '';
            }, 3000);
            return false;
        } else {
            uError6.style.display = 'none';
            uError6.innerHTML = '';
        }
        return true;
    }

    uNameId.addEventListener('blur', unameValidation);
    uEmailId.addEventListener('blur', uemailValidation);
    umobileId.addEventListener('blur', umobileValidate);
    passwordId.addEventListener('blur', passwordValidate);
    npasswordId.addEventListener('blur', npasswordValidate);
    cpasswordId.addEventListener('blur', cpasswordValidate);

    uForm.addEventListener('submit', function (e) {
        if (!unameValidation() || !uemailValidation() || !umobileValidate() || !passwordValidate() || !npasswordValidate() || !cpasswordValidate()) {
            e.preventDefault();
        }
    });
</script>
