<%- include('../layouts/header.ejs') %>

<form id="logForm" class="border p-5" style="max-width:600px; margin:auto; margin-top: 200px; margin-bottom: 50px;" method="post" action="/resetPassword/<%= _id %>/<%= token %>">
    <h2 class="d-flex justify-content-center py-5">Reset Password <%= email %></h2>
    <% if(locals.message) { %>
        <div class="alert alert-success">
            <%= locals.message %>
        </div>
    <% } %>
    <% if(locals.error){ %>
        <div id="error" class="alert alert-danger">
            <%= locals.error %>
        </div>
    <% } %>
    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block btn-secondary">Recover</button>
    </div>
</form>

<%- include('../layouts/footer.ejs') %>