<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:09 GMT -->

<head>
    <meta charset="utf-8">
    <title>Tone Hive</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/Tonehive (1).png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/public/assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/public/assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="/public/assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    </li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Yellow"><span
                                                    class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span
                                                    class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span
                                                    class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Purple"><span
                                                    class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i
                                                class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a>
                                    </li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a
                                            href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/public/assets/imgs/theme/flag-fr.png"
                                                    alt="">Français</a>
                                        </li>
                                        <li><a href="#"><img src="/public/assets/imgs/theme/flag-dt.png"
                                                    alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/public/assets/imgs/theme/flag-ru.png"
                                                    alt="">Pусский</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <!-- <a href="/userHome"><img src="/public/assets/imgs/theme/logo-tonehive" alt="logo"></a> -->
                        <a href="/userHome"><img src="/public/assets/imgs/theme/Tonehive (1).png" alt=></a>

                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>

                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <!-- <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject" alt="Evara" src="/public/assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div> -->
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/public/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue">
                                            <%= cartTotalCount %>
                                        </span>
                                    </a>
                                </div>

                                <style>
                                    /* Custom CSS to adjust image size */
                                    .dropdown-toggle img {
                                        width: 40px;
                                        /* Adjust the width to your desired size */
                                        height: 40px;
                                        /* Adjust the height to your desired size */
                                        border-radius: 50%;
                                        /* Optional: Make the image round */
                                    }
                                </style>

                                <div>
                                    <ul>
                                        <li class="dropdown nav-item">
                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                                id="dropdownAccount" aria-expanded="false">
                                                <button class="btn  btn-primary ">hey.. <%= userId.name %></button>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownAccount">
                                                <a class="dropdown-item" href="/userProfile"><i
                                                        class="material-icons md-perm_identity"></i> Profile</a>
                                                <!-- <a class="dropdown-item" href="#address"><i class="material-icons md-settings"></i>Account Settings</a> -->
                                                <!-- <a class="dropdown-item" href="/wallet"><i class="material-icons md-account_balance_wallet"></i>Wallet</a> -->
                                                <!-- <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                              <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a> -->
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="/logout"><i
                                                        class="material-icons md-exit_to_app"></i>Logout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="#"><img src="/public/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>

                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/userHome">Home </a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Shop </a>
                                    </li>

                                    <li>
                                        <a href="#">Blog </a>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
                    </p>

                </div>
            </div>
        </div>
    </header>

    <div class="row mb-50 mt-20 order-info-wrap" style="background-color: rgb(228, 224, 224); height: 120px;
    align-items: center;">
        <div class="col-md-4" style=" text-align: center;">
            <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light">
                    <i class="text-primary material-icons md-person"></i>
                </span>
                <div class="text">
                    <h6 class="mb-1">Customer</h6>
                    <p class="mb-1">
                        <%= orderedItems.address.name %>
                    </p>
                    <a href="/userProfile">View profile</a>
                </div>
            </article>
        </div> <!-- col// -->
        <div class="col-md-4" style=" text-align: center;">
            <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light" style="margin-top: 13px;">
                    <i class="text-primary material-icons md-local_shipping"></i>
                </span>
                <div class="text">
                    <h6 class="mb-1">Order info</h6>
                    <p class="mb-1">
                        Shipping: Fargo express <br> Pay method: <%= orderedItems.paymentMethod %> <br>
                            Status: new
                    </p>
                    <!-- <a href="#">Download info</a> -->
                </div>
            </article>
        </div>
        <div class="col-md-4" style=" text-align: center;">
            <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light">
                    <i class="text-primary material-icons md-place"></i>
                </span>
                <div class="text">
                    <h6 class="mb-1">Deliver to</h6>
                    <p class="mb-1">
                        City: <%= orderedItems.address.city %>
                    </p>
                    <p class="mb-1">
                        Address : <%= orderedItems.address.house %>
                    </p>
                    <!-- <a href="#">View profile</a> -->
                </div>
            </article>
        </div> <!-- col// -->
    </div>

    <div class="mt-30 container mb-30">
        <div class="col-lg-12">
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-weight: bold; width: 20%;" class="text-center">Product</th>
                            <th style="font-weight: bold; width: 20%;" class="text-center">Name</th>
                            <th style="font-weight: bold; width: 20%;" class="text-center">Quantity</th>
                            <th style="font-weight: bold; width: 20%;" class="text-center">Status</th>
                            <th style="font-weight: bold; width: 20%" class="text-end text-center">Total</th>
                            <th style="font-weight: bold; width: 20%" class="text-end text-center">Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (locals.orderedItems) { %>
                            <% let totalPrice = 0; %>
                            <% orderedItems.products.forEach(element => { %>
                        
                                <% totalPrice += element.totalPrice; %>
                                <% totalquantity = element.productId.price * element.quantity; %>
                           
                                <% totalCouponPrice = element.coupon * element.quantity; %>
                                <tr>
                                    <td class="image product-thumbnail">
                                        <div class="text-center">
                                            <img src="/public/uploads/<%= element.productId.image[0] %>" alt="#">
                                        </div>
                                    </td>
                                    <td class="product-des product-name">
                                        <h5 class="mt-2 text-center">
                                            <a href="shop-product-right.html"><%= element.productId.name %></a>
                                        </h5><br>
                                        <p class="font-xs text-center">
                                            <%= element.productId.description.split('.')[0] %>
                                        </p>
                                    </td>
                                    <td class="text-center"><%= element.quantity %></td>
                                    <% if (element.orderStatus === 'pending') { %>
                                      
                                        <td class="text-center">
                                            <span class="badge rounded-pill  alert-dark">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    <% if (element.orderStatus === 'confirmed') { %>
                                      
                                        <td class="text-center">
                                            <span class="badge rounded-pill  alert-success">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    <% if (element.orderStatus === 'cancelled') { %>
                                        
                                        <td class="text-center">
                                            <span class="badge rounded-pill alert-danger">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    
                                    <% if (element.orderStatus === 'shipped') { %>
                                        <td class="text-center">
                                            <span class="badge rounded-pill alert-info">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    <% if (element.orderStatus === 'outForDelivery') { %>
                                        <td class="text-center">
                                            <span class="badge rounded-pill alert-warning">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    <% if (element.orderStatus === 'delivered') { %>
                                        <td class="text-center">
                                            <span class="badge rounded-pill alert-success">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    <% if (element.orderStatus === 'return pending') { %>
                                        <td class="text-center">
                                            <span class="badge rounded-pill alert-warning">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                    <% if (element.orderStatus === 'returned') { %>
                                        <td class="text-center">
                                            <span class="badge rounded-pill alert-danger">
                                                <%= element.orderStatus %>
                                            </span>
                                        </td>
                                    <% } %>
                                        
                                    <td class="text-center">₹ <%= totalquantity %></td>
                                    
                                    <td>
                                        <% if (element.orderStatus !== 'delivered' && element.orderStatus !== 'return pending' && element.orderStatus !== 'cancelled' && element.orderStatus !== 'returned') { %>
                                        <button onclick="cancelOrder('<%= orderedItems._id %>', '<%= element._id %>')" class="btn btn-danger">Cancel</button>
                                        <% } %>
                                        <% if(element.orderStatus === 'delivered') {%>
                                         <button onclick="returnOrder('<%= orderedItems._id %>', '<%= element._id %>')" class="btn btn-warning">Return</button>
                                        <% } %>
                                    </td>
                                    
                                </tr>
                            <% }); %>
                            <tr>
                                <% if (orderedItems.coupon === 0) { %>
                                    <td colspan="4" class="text-end">Total Price:</td>
                                    <td class="text-center">₹ <%= orderedItems.totalPrice   %></td>
                                <% } else { %>
                                    <td colspan="4" class="text-end">Discount Price</td>
                                    <td class="text-center">₹ <%= orderedItems.totalPrice %></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                

            </div>
        </div>
       
                
    </div>



    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/public/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="/public/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/public/assets/imgs/theme/google-play.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/assets/imgs/theme/payment-method.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                            class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/js/plugins/slick.js"></script>
    <script src="/public/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/assets/js/plugins/wow.js"></script>
    <script src="/public/assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/assets/js/plugins/select2.min.js"></script>
    <script src="/public/assets/js/plugins/waypoints.js"></script>
    <script src="/public/assets/js/plugins/counterup.js"></script>
    <script src="/public/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/assets/js/plugins/images-loaded.js"></script>
    <script src="/public/assets/js/plugins/isotope.js"></script>
    <script src="/public/assets/js/plugins/scrollup.js"></script>
    <script src="/public/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/public/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/public/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/public/assets/js/maind134.js?v=3.4"></script>
    <script src="/public/assets/js/shopd134.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

</html>



<script>
    function cancelOrder(orderId,prodId) {
        console.log(orderId);
        console.log(prodId);
        Swal.fire({
            title: "Are you sure?",

            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: `Yes`,
            cancelButtonText: 'Cancel',
            allowOutsideClick: true,
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/cancelOrder/${orderId}/${prodId}`, { method: "PATCH" })
                    .then(res => {
                        if (res.ok) {
                            Swal.fire({
                                title: `Done`,
                                text: "You clicked the button!",
                                icon: "success",
                                button: false
                            });
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000)

                        } else {
                            swal({
                                title: "somthing went wrong!",
                                text: "You clicked the button!",
                                icon: "error",
                            });
                        }
                    })


            } else {
                swal({
                    title: "canceled !",
                    text: "You clicked the button!",
                    icon: "cancel",
                });
            }
        });
    }
</script>

    <script>
        function returnOrder(orderId,prodId) {
            console.log(orderId);
            console.log(prodId);
            Swal.fire({
                title: "Are you sure?",

                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: `Yes`,
                cancelButtonText: 'Cancel',
                allowOutsideClick: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/returnOrder/${orderId}/${prodId}`, { method: "PATCH" })
                        .then(res => {
                            if (res.ok) {
                                Swal.fire({
                                    title: `Done`,
                                    text: "You clicked the button!",
                                    icon: "success",
                                    button: false
                                });
                                setTimeout(() => {
                                    window.location.reload();
                                }, 1000)

                            } else {
                                swal({
                                    title: "somthing went wrong!",
                                    text: "You clicked the button!",
                                    icon: "error",
                                });
                            }
                        })


                } else {
                    swal({
                        title: "canceled !",
                        text: "You clicked the button!",
                        icon: "cancel",
                    });
                }
            });
        }
    </script>
        